<!--
  Generated template for the InboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chatting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>
  <ion-item *ngFor="let msg of messageList">
    <ion-avatar item-left>
      <img [src]="msg.user.avatar">
    </ion-avatar>
    <h2>{{msg.user.firstName}} {{msg.user.lastName}}
    </h2>
    <p>{{msg.lastMessage}}</p>
  </ion-item>
</ion-list>
</ion-content>
